[Unit]
Description=To-Do list backend
After=network.target

[Service]
User={{ user }}
Group={{ user }}
EnvironmentFile=/etc/todoapp/.env
ExecStart={{ bin_location }}
Restart=always

[Install]
WantedBy=multi-user.target
