[Unit]
Description=To-Do list backend
After=network.target

[Service]
User={{ user }}
Group={{ user }}
EnvironmentFile=/etc/todoapi/.env
ExecStart=/usr/local/bin/{{ bin_name }}
Restart=always

[Install]
WantedBy=multi-user.target
