.container {
  display: grid;
  grid:
    "header  header header" auto
    "...... content ......" auto /
    1fr minmax(600px, 1200px) 1fr;
}

.header {
  grid-area: header;
  text-align: center;
  font-size: calc(3vw + 2rem);
  color: rgba(0,0,0,0.2);
  font-weight: 900;
  opacity: 0.4;
}