#root {
  margin: 0 auto;
  padding: 2rem;
}

input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #ffffff;
  font-size: 1rem;
  padding: 4px 0;
}

.input-light {
  border-color: var(--color-light);
}

.input-dark {
  border-color: var(--color-dark);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.plus-input {
  display: inline-block;
}

.plus-input::before {
  display: inline-block;
  width: 40px;
  text-align: center;
  content: "\002B";
  font-weight: bold;
  font-size: 22px;
}
