.container {
  display: grid;
  grid:
    "header header header header" auto
    "...... lists  task   ......" auto /
    1fr minmax(150px, 400px) minmax(350px, 750px) 1fr;
}

.header {
  grid-area: header;
  text-align: center;
  font-size: calc(3vw + 2rem);
  color: rgba(0,0,0,0.2);
  font-weight: 900;
  opacity: 0.4;
}