:root {
    --color-backgroud: #3070cc;
    --color-light: #000000;
    --color-dark: #ffffff;
    --color: var(--color-light)
}

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    color: var(--color);
    background-color: var(--color-backgroud);
    font-size: 1.25rem;
}

ul {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 100;
}
a:hover {
    opacity: 0.5;
}

input {
    border: none;
    border-bottom: 1px solid currentColor;
    background: transparent;
    font-size: 1.25rem;
    color: inherit;
}

input:focus {
    outline: none;
    border-bottom-width: 2px;
}

input:focus::placeholder {
    opacity: 0.4;
}