.tasklist-container {
    --color: var(--color-dark);
    color: var(--color);
    grid-area: lists;
}

.task-list {
    line-height: 1.7;
    font-size: 1rem;
    list-style: circle inside;
}

.active {
    font-weight: 700;
}