.tasklist-container {
    grid-area: content;
    display: flex;
    flex-direction: row;
}

.list-container {
    --color: var(--color-dark);
    color: var(--color);
    flex: 1;
}

.details-container {
    flex: 1;
}

.task-list {
    line-height: 1.7;
    font-size: 1rem;
    list-style: circle inside;
}

.task-list li {
    cursor: pointer;
}

.task-list li:not(:last-child) {
    margin-bottom: 4px;
}

.active {
    font-weight: 700;
}

.buttons {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}
